:root{
    font-style: normal;             
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Encabezado Logo e Íconos */
.contEnca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    margin: auto;
    overflow: hidden;
    padding: 0.2vw 0;
    background-color: #fb8500;
    color: white;
}

.iconos-encabezados{
    display: flex;
    flex-direction: row;
    height: 7vh;
}

.menuH,.cartE,.userE,.logoM{
    width: 2.5vw;
    height: auto;
}

.logoM{
    display: flex;
    justify-content: center;
    min-width: min-content;
    max-width: fit-content;
    flex-wrap: wrap;
    height: auto;
    flex: auto;
}

.cartE{
    align-content:right;
}

/* Menú de navegación */
.menu-navegacion{
    padding: 0.2vw 0;
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.enlaces a{
    padding: 0 0.2vw;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #555;
}

/* Pie de Página */
.contPie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 5vh;
    margin: auto;
    overflow: hidden;
    background-color: #fb8500;
    color: white;
    text-align: center;
    padding: 0.1vw 0;
}

/* Tabla de Productos */
.tabla-productos{
    background-color: lightgreen;
    width: 95vw;
    margin: auto;
    height: 85vh;
    padding: 0.2vw 0;
}

.titulo-tabla{
    font-size: medium;
    text-align: center;
    height: 5vh;
    color: white;
}

.tabla-fixed{
    text-align: center;
    margin: 0 auto;
} 

.tabla-fixed thead tr th{
    font-weight: bold;
    font-size: 1.1rem;
    background-color: darkgreen;
    color: white;
}

.tabla-fixed tbody{
    height: 75vh;
    overflow-y: auto;
}

.tabla-fixed thead,
.tabla-fixed tbody,
.tabla-fixed th,
.tabla-fixed td{
    display: block;
}

.tabla-fixed thead > tr > th,
.tabla-fixed tbody td{
    float: left;
    width: 10vw;
    text-align: center;
}

.tabla-fixed tbody tr:nth-child(odd){
    background-color: rgb(180, 240, 180);
}

.tabla-fixed tbody tr:nth-child(even){
    background-color: rgb(109, 172, 109);
}

.tabla-fixed tbody tr td:first-child{
    background-color: darkolivegreen;
    color:white;
}

.tabla-fixed tbody tr td:hover{
    background-color: lightyellow;
}

.tabla-fixed tbody tr td button{
    border-radius: 25%;
    background-color: greenyellow;
}

.imagen{
    width: 4vw;
    height: 4vw;
    text-align: center;
}

/* Galeria de Productos */
.grilla-galeria{
    display: grid;
    width: 95vw;
    height: 85vh;
    margin: auto;
    padding: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2em;
}

.carousel{
    display: grid;
    justify-content: center;
    align-items: center;
} 

/* Estilo de los opiniones */
.flex-opiniones{
    display: flex;
    width: 95vw;
    height: 85vh;
    margin: auto;
    overflow: hidden;
    overflow-y: auto;
}

.grilla-opiniones {
    display: grid;
    width: 95vw;
    height: 85vh;
    margin: auto;
    padding: 1em;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-template-rows: auto;
    gap: 2em;
}

.fondo-galeria,
.fondo.contactos,
.fondo-productos,
.fondo-opiniones{
    justify-content: center;
    align-items: center;
    background-image: url(pexels-nicolas-rueda-175965148-17546505.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opiniones {
    background-color: #aae9aa;
    padding: 1em;
    border-radius: 25%;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.opiniones:hover{
    border: 1px solid orange;
    transform: translateY(-5px);
    background-color: #72e972;
}

.opiniones h3 {
    margin-bottom: 10px;
    color: darkorange;
    font-size: 18px;
}

.opiniones p{
    font-weight: bolder;
}

/* Formulario de contacto */
.grilla-contactos{
    display: grid;
    width: 95vw;
    height: 85vh;
    margin: auto;
    padding: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 1em;
}

.contenedor-contactos{
    background-color: black;
    border-radius: 5%;
    color: white;
    text-align: center;
    gap: 20px;
    max-width: 47.5vw;
}

.formulario{
    background-color: #d87504;
    font-weight: bolder;
    color: white;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vw;
}

.formulario-contacto label {
    text-align: left;
    height: 0.8vh;
}

.formulario-contacto input,
.formulario-contacto textarea {
    padding: 1vh;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.formulario-contacto button{
    background-color: lightgreen;
    padding: 1vh;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    font-size: 0.8rem;
    width: 10vw;
    /* justify-content: right;  */   /*revisar, no pude poner el botón a la derecha*/
    color: black;
    font-weight: bold;
}

.formulario-contacto button:hover {
    background-color: green;
    color: white;
}

.direccion{
    opacity: 0.7;
}

.redes{
    display: grid;
    grid-auto-columns: 30px;
    grid-template-areas: "1 2 3 4 5 6 7 8";
    justify-content: center;
    gap: 0.5vw;
    font-size: 1rem;
}


.redes p{
    visibility: hidden
}

.redes:hover p{
    visibility: visible;
    font-size: 0.5rem;
    font-weight: normal;
}

.ubicacion{
    width: 100%;
}